#registrationGetAppContent { clear: both;}
#userAccount { }
#recoveryContent { }

.registrationInput { }
.accountChangeInput { }
.renewButton { }
.recoverButton { }
.registerButton { }

@media only screen and (max-width: 480px) {
	#registrationForm { display: none; text-align: left !important;}
	#registrationGetAppContent { font-size: 14px !important; }
}

@media only screen and (min-width: 480px) {
	#registrationForm { clear: both; }
	#registrationGetAppContent { font-size: 18px !important; }
}