<div class="navigation">
	<a class="select" href="/">
		<img src="/Image/mobile/nav/item1ns.png" alt="img"><em class="under-icon-text">Home</em>
	</a>
	<a href="/mobile/search">
		<img src="/Image/mobile/nav/item2ns.png" alt="img"><em class="under-icon-text">Search</em>
	</a>
	<a href="/mobile/map">
		<img src="/Image/mobile/nav/item3ns.png" alt="img"><em class="under-icon-text">Map</em>
	</a>
	<a href="/mobile/login">
		<img src="/Image/mobile/nav/item5ns.png" alt="img"><em class="under-icon-text">My Account</em>
	</a>
</div>

<div class="home-bg">
	<div class="header">
		<img class="logo" src="images/logo.png" alt="img"> 
	</div>

	<div class="home">
		<div class="login-form" action="">
			<div class="header">
				<h1>Please Login</h1>
				<span>Please login to see the benefits of VIP Bite.</span>
			</div>
				
			<div class="content">
				<input id="VIPBITE_LoginUserName" name="username" type="text" class="input username" placeholder="Username" />
				<div class="user-icon"></div>
				<input id="VIPBITE_LoginPassword" name="password" type="password" class="input password" placeholder="Password" />
				<div class="pass-icon"></div>
				<input id="VIPBite_LoginButton" type="button" name="Login" value="Login" class="button"/>
				<input id="VIPBite_RegisterButton" type="button" name="Register" value="Register" class="button" />		
			</div>
		</div>
	</div>

	<div class="empty-clear-menu"></div>
</div>