<div class="navigation">
	<a class="select" href="/">
		<img src="/Image/mobile/nav/item1ns.png" alt="img"><em class="under-icon-text">Home</em>
	</a>
	<a href="/mobile/search">
		<img src="/Image/mobile/nav/item2ns.png" alt="img"><em class="under-icon-text">Search</em>
	</a>
	<a href="/mobile/map">
		<img src="/Image/mobile/nav/item3ns.png" alt="img"><em class="under-icon-text">Map</em>
	</a>
	<a href="/mobile/login">
		<img src="/Image/mobile/nav/item5ns.png" alt="img"><em class="under-icon-text">My Account</em>
	</a>
</div>

<div class="header">
	<img class="logo" src="images/logo.png" alt="img"> 
</div>

<div class="subHeader">
	<h1>Map Listings</h1>
</div>
<div class="contentArea">
	<div class="mapList">
		<img src="images/map.jpg" alt="" />
		<ol>
			<li>
				<h2>Restaurant Name</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non consequat diam. 
				Donec a purus convallis, cursus lacus vel, pretium ligula. </p>
				<a href="#">More Details</a>
			</li>
			<li>
				<h2>Restaurant Name</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non consequat diam. 
				Donec a purus convallis, cursus lacus vel, pretium ligula. </p>
				<a href="#">More Details</a>
			</li>
			<li>
				<h2>Restaurant Name</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non consequat diam. 
				Donec a purus convallis, cursus lacus vel, pretium ligula. </p>
				<a href="#">More Details</a>
			</li>
		</ol>
	</div>
</div>

<div class="empty-clear-menu"></div>