<div class="mainContent clearfix">
	<div class="greyContent boxShadow paddingLR-10px"
	<article class="clearfix">
		<section id="recoveryContent" class="size-9 autoMargin mgTop-20px">
			<%= form_tag(controller: 'account', action: 'userPasswordRecovery', method: "post", style: "position: relative;") do %>
			<h1 class="mgLeft-10px">Forgot your password?</h1>
			<hr class="mgTop-10px mgBottom-10px"/>
			<section id="input-container" class="mgTop-10px mgBottom-10px" style="position: relative; overflow: auto">
				<div id="userinputcontainer" class="" style="text-align:center;">
					<img src="/Image/Shared/email.png" alt="Email" width="40px" height="20px" align="bottom"></img>
					<%= email_field_tag 'email', nil, :maxlength=> 40, :size => 40 %>
				</div>
			<section class="mgTop-10px mgBottom-10px"/>
				<%= submit_tag('RECOVERY', :class=>"fRight recoverButton clickable")%>
			</section>
			<%end%>
		</section>
	</article>
	</div>
</div>